*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    font-family: Arial, sans-serif;
    background:black;
    margin:0;
    padding:20px;
    text-align:center;
}

h1{
    margin-bottom:20px;
    color: white;
}

#productContainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
    max-width:1000px;
    margin:auto;
}

.product-card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 3px 8px rgba(0,0,0,0.1);
    transition:0.3s;
}

.product-card:hover{
    transform:scale(1.03);
}

.product-card img{
    width:100%;
    height:180px;
    object-fit:contain;
}

.product-title{
    font-size:15px;
    margin-top:10px;
    font-weight:bold;
}

#errorMsg{
    color:red;
    margin-top:20px;
    font-weight:bold;
}
